<div class="container">
  <footer class="py-2]1 my-1">
    <ul class="nav justify-content-center border-bottom pb-1 mb-1">
     <li class="icone">
          <a href="https://www.instagram.com/repsocio/" target="_blank"><i> <i class="bi bi-instagram"></i></i></a>
        </li>
        <li class="icone"target="_blank">
          <a href="https://contate.me/fred-samuel"><i class="bi bi-whatsapp"></i></a>
        </li>
        <li class="icone"target="_blank">
          <a href="https://www.facebook.com/repsocio"><i class="bi bi-facebook"></i></a>
        </li>
    </ul>
    <p class="text-center text-muted">&copy;Rep S'ocio. Todos os direitos reservados<br> Ilha Solteira - SP</p>
  </footer>
</div>