<div class="font">
	<div class="banner">
		<div class="texto-inicial">
			<h1> Contato</h1>
			<div class="text2">
				<h3> Saiba com quem falar!</h3>
				<p>Clique na foto de um dos moradores para ser redirecionado ao Whatsapp!</p>
			</div>
		</div>
		<div class="figuras">
			<ul class="nav justify-content-center pb-1 mb-1">
				<li class="icone">
					<a href="https://www.instagram.com/repsocio/" target="_blank" class="foto" ><img class="logorep" src="assets/img/logorep.png"></a>
					<div class="textbook">
						<h3> Nosso Instagram:</h3>
						<a href="https://www.instagram.com/repsocio/"><p><i> <i
								class="bi bi-instagram"></i></i> repsocio </p></a>
					</div>
				</li>
			</ul>
			<ul class="nav justify-content-center pb-1 mb-1">
				<li class="icone">
					<a href="https://contate.me/fred-samuel" class="foto" target="_blank"><img cl src="assets/img/live1.png"></a>
					<div class="textbook">
						<h3> Fred Samuel</h3>
						<h4>(Mandruvá)</h4>
						<a><h4> <i> <i
								class="bi bi-whatsapp"></i></i> (16) 99782-2435</h4></a>
						<a href="https://www.instagram.com/fred_samuel10/"><p><i> <i
								class="bi bi-instagram"></i></i> fred_samuel10 </p></a>
					</div>
				</li>
				<li class="icone" target="_blank">
					<a href="https://contate.me/sem-nada" class="foto" ><img src="assets/img/live3.png"></a>
					<div class="textbook2">
						<h3> João Pedro</h3>
						<h4>(Sem-Nada)</h4>
						<a><h4><i> <i
								class="bi bi-whatsapp"></i></i> (17) 99668-9157</h4></a>
						<a href="https://www.instagram.com/_jppraado/"><p><i> <i
								class="bi bi-instagram"></i></i> _jppraado </p></a>
					</div>
				</li>
			</ul>
			<ul class="nav justify-content-center pb-1 mb-1">
				<li class="icone">
					<a href="https://contate.me/luis-gu" target="_blank" class="foto" ><img src="assets/img/live4.png"></a>
					<div class="textbook">
						<h3> Luís Gustavo</h3>
						<h4>(Fitinha)</h4>
						<a><h4> <i> <i
								class="bi bi-whatsapp"></i></i> (18) 98109-1832</h4></a>
						<a href="_previatto_"><p><i> <i
								class="bi bi-instagram"></i></i> _previatto_ </p></a>
					</div>
				</li>
				<li class="icone" target="_blank">
					<a href="https://contate.me/joao-vitor" class="foto" ><img src="assets/img/live2.png"></a>
					<div class="textbook2">
						<h3> João Vitor</h3>
						<h4>(Subway)</h4>
						<a><h4> <i> <i
								class="bi bi-whatsapp"></i></i> (16) 99375-4376</h4></a>
						<a href="https://www.instagram.com/joaovicto76/"><p><i> <i
								class="bi bi-instagram"></i></i> joaovicto76 </p></a>
					</div>
				</li>
			</ul>
		</div>

	</div>
</div>