<div class="font">
	<div class="banner">
		<div class="texto-inicial">
			<h1> Sobre a República S'ócio!</h1>
			<div class="text2">
				<p> Conheça um pouco mais sobre a melhor República de Ilha Solteira!</p>
			</div>
	</div>
 	<div class="figuras">
		<ul class="nav justify-content-center pb-1 mb-1">
	     	<li class="icone">
	          <a href="https://goo.gl/maps/sMPd7ecryVxiEszw9" target="_blank"><i> <i class="bi bi-geo-alt-fill"></i></i></a>
	          <div class="textbook">
	          	<h3> Localização (Clique no Ícone)</h3>
	          	<p> Passeio Correntes nº106, Zona Norte, Ilha Solteira-SP </p>
	          </div>
	        </li>
	        <li class="icone"target="_blank">
	          <a href="https://www.feis.unesp.br/"><i class="bi bi-mortarboard"></i></a>
	           <div class="textbook2">
	          	<h3> Universidade (Clique no Ícone)</h3>
	          	<p> UNESP- Faculdade de Engenharia de Ilha Solteira</p>
	          </div>
	        </li>

	    </ul>
	 </div> 
	 <div class="texto3">
		<h2 >Nossos Rolês! </h2>
		<p> A República S'ócio em conjunto com outras repúblicas, produz diversas festas universitárias ao longo dos semestres, confira abaixo:</p>
	</div>  
	<div class="figuras">
		<ul class="nav justify-content-center pb-1 mb-1">
	     	<li class="icone">
	          <a href="https://www.instagram.com/baile.da.40/" target="_blank" class="foto">
	          	<img src="assets/img/logobail1.png"></a>
	          <div class="textbook">
	          	<h3> Baile da 40 </h3>
	          	<h4>(Clique no Ícone)</h4>
	          	<p> @baile.da.40</p>
	          </div>
	        </li>
	        <li class="icone"target="_blank">
	          <a href="https://www.instagram.com/bailaodevolta/"class="foto" ><img src="assets/img/logobail2.png"></a>
	           <div class="textbook2">
	          	<h3> Baile de Volta ao Inferno</h3>
	          	<h4>(Clique no Ícone)</h4>
	          	<p>@bailaodevolta</p>
	          </div>
	        </li>
	         <li class="icone"target="_blank">
	          <a href="https://www.instagram.com/sociosdamaria.isa/"class="foto" ><img src="assets/img/logobail3.png"></a>
	           <div class="textbook2">
	          	<h3> Sócios da Maria! </h3>
	          	<h4>(Clique no Ícone)</h4>
	          	<p>@sociosdamaria.isa</p>
	          </div>
	        </li>
	    </ul>
	 </div> 
</div>