<div class="font">
	<div class="banner">
		<div class="texto-inicial">
			<h1> Confira aqui a galeria da República S'ócio!</h1>
			<div class="text2">
				<p> Veja momentos marcantes da nossa história! </p>
			</div>
	</div>
	<div class="album">
    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/gal2.png" data-lightbox="minha-imagem">
              <img src="assets/img/gal2.png">
             </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite1.png" data-lightbox="minha-imagem2">
                <img src="assets/img/fotosite1.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite2.png" data-lightbox="minha-imagem3">
                <img src="assets/img/fotosite2.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite3png" data-lightbox="minha-imagem4">
                <img src="assets/img/fotosite3.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite4.png" data-lightbox="minha-imagem5">
                <img src="assets/img/fotosite4.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite5.png" data-lightbox="minha-imagem6">
                <img src="assets/img/fotosite5.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite6.png" data-lightbox="minha-imagem7">
                <img src="assets/img/fotosite6.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite7.png" data-lightbox="minha-imagem8">
                <img src="assets/img/fotosite7.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite8.png" data-lightbox="minha-imagem9">
                <img src="assets/img/fotosite8.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite9.png" data-lightbox="minha-imagem10">
                <img src="assets/img/fotosite9.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite10.png" data-lightbox="minha-imagem11">
                <img src="assets/img/fotosite10.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite11.png" data-lightbox="minha-imagem12">
                <img src="assets/img/fotosite11.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite12.png" data-lightbox="minha-imagem13">
                <img src="assets/img/fotosite12.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite13.png" data-lightbox="minha-imagem14">
                <img src="assets/img/fotosite13.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite14.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite14.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite15.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite15.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite16.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite16.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite17.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite17.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite18.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite18.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite19.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite19.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite20.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite20.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite21.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite21.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite22.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite22.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite23.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite23.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite24.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite24.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite25.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite25.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite26png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite26.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite27png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite27.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite28.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite28.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite29.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite29.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite30.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite30.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
            <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite31.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite31.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
            <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite32.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite32.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
            <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite33.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite33.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
            <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite34.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite34.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
            <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite35.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite35.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
            <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite36.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite36.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
            <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite37.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite37.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
            <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite38.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite38.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
            <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite39.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite39.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
            <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite40.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite40.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite41.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite41.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite42.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite42.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite43.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite43.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite44.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite44.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite45.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite45.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite46.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite46.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite47.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite47.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite48.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite48.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite49.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite49.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
           <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite50.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite50.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
             <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite51.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite51.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
             <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite52.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite52.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>
             <div class="col">
            <div class="card shadow-sm">
              <a class="image" href="assets/img/fotosite53.png" data-lightbox="minha-imagem15">
                <img src="assets/img/fotosite53.png">
              </a>
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">Rep S'ocio</small>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>	
	</div>
</div>
