<div class="font">
	<div class="banner">
		<div class="texto-inicial">
			<h1> Bem vindo ao nosso Website!</h1>
			<div class="text2">
				<p> Este website foi criado por nós da República S'ócio para compartilhar um pouco da nossa rotina e
					vivência dentro e fora da UNESP Ilha Solteira!</p>
			</div>
			<div class="texto1">
				<h2> Venha nos conhecer!</h2>
			</div>
		</div>
		<div class="carousel">
			<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">

				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
						class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
						aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
						aria-label="Slide 3"></button>
				</div>

				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="assets/img/banner.png" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="assets/img/banner2.png" class="d-block w-100" alt="...">
					</div>
					<div class="carousel-item">
						<img src="assets/img/banner3.png" class="d-block w-100" alt="...">
					</div>
				</div>

				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
					data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>

		</div>
	</div>
	<div class="texto2">
		<h1 >Por que morar com a gente?</h1>
	</div>
	<div class="figuras">
		<ul class="nav justify-content-center pb-1 mb-1">
	     	<li class="icone">
	          <a href="#" target="_blank"><i> <i class="bi bi-book"></i></i></a>
	          <div class="textbook">
	          	<h3> Amplo acervo acadêmico!</h3>
	          	<p> A Republica S´ócio conta com um grande volume de material acadêmico
	          		de diversos cursos, como: Engenharia Agronômica, Engenharia Mecânica, Civil, e muitos outros! </p>
	          </div>
	        </li>
	        <li class="icone"target="_blank">
	          <a href="#"><i class="bi bi-house"></i></a>
	           <div class="textbook2">
	          	<h3> Casa grande e totalmente mobiliada + Governanta do lar!</h3>
	          	<p> A República S'ócio conta com uma casa grande  e totalmente mobiliada contendo: 6 quartos, 5 banheiros, aréa de lazer, piscina, mesa de sinuca, governanta do lar (lava, passa e cozinha) e muito mais! </p>
	          </div>
	        </li>
	        <li class="icone"target="_blank">
	          <a href="#"><i class="bi bi-people"></i></a>
	           <div class="textbook3">
	          	<h3> Faça novos amigos e ganhe uma nova família!</h3>
	          	<p> Aqueles que experimentaram morar em república em Ilha Solteira
	          	ou em outras cidades sabem que morar em uma rep cria expêriencias únicas para a vida toda, e te recompensa com uma verdadeira família ao longo do caminho!</p>
	          </div>
	        </li>
	    </ul>
	 </div> 
	 <div class="texto3">
		<h1 >Está esperando o que? </h1>
		<h1>Venha viver a melhor fase da sua vida com a gente! </h1>
	</div>  
	<div class="imagem">
		<a href="https://www.instagram.com/p/Cm9uO26rMo7/?igshid=YmMyMTA2M2Y="><img src="assets/img/logorep.png" class="anima"></a>
	</div>
</div>